<h3><em><%= "Welcome to TrackHunter " + @current_user.username%></em></h3>  
<%= notice %>
<div class="btn" id="getGeo">Get Location</div>
<div id = "storeLink">
	<%= form_for @current_user do |f| %>
		<%= f.hidden_field(:lng) %>
		<%= f.hidden_field(:lat) %>
		<%= submit_tag "Choose Store", :class => 'form_submit', :name => 'location'  %>
	<%end%>
</div>
<!-- <div class="btn" id="flashGeo">Coordinate Alert!</div> -->