<p id="notice"><%= notice %></p>
<h3><%= "Welcome to TrackHunter, " + @user.username + "!" %></h3>
<%= link_to "FIND AND RATE A TRACK NOW!", new_rating_path, :class => "box-button", :id => "rating_link"%>
<div id="link_holder">
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', users_path %>
</div>




<!--
  <dt><strong><%= model_class.human_attribute_name(:store_name) %>:</strong></dt>
  <% if @user.store %>
    <dd><%= @user.store.store_name %></dd>
  <% else %>
    <dd>"no store assigned"</dd>
  <% end %>
</dl>
 -->