<%= form_for @merchant, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div> 
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>    
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label :zip_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :zip_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :current_song, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:merchant, :current_song_id, Song.all, :id, :title, options={:prompt => "Select a song"}, {:include_blank => true}) %>
    </div>
  </div>
  <div class="button-holder" align="center">
    <%= f.submit "Create Merchant", :class => 'mini-box-button' %>
    <%= link_to "Return to User Home", user_root_path(@current_user), :class => 'mini-box-button' %>
  </div>

<% end %>