<%- model_class = Merchant -%>
<div class = "center_block" id = "index_holder">
  <% if @current_user.is_admin || @current_user.businesses != [] %>
    <div class="page-header">
      <h2>
        <% if !@current_user.is_admin %>
          <%= "My " %>
        <% end %>
          <%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:address) %></th> 
  	      <th><%= model_class.human_attribute_name(:city) %></th>  
          <th><%= model_class.human_attribute_name(:state) %></th>
          <th><%= model_class.human_attribute_name(:zip) %></th>
          <%- if @current_user.is_admin? %>
            <th>Owner</th>
          <% else %>
          <% end %>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% if current_user.is_admin? && @merchants == [] %>
          </tbody>
          </table>
          <p><em>IT SEEMS THAT THERE ARE NO MERCHANTS EXISTING IN THE DATABASE AT THIS TIME</em></p>
          <br>
        <% else %>
          <% @merchants.each do |merchant| %>
            <tr>      
              <td><%= merchant.name %></td>
              <td><%= merchant.address %></td>  
              <td><%= merchant.city %></td>
    	        <td><%= merchant.state %></td> 
    	        <td><%= merchant.zip %></td> 
              <%- if @current_user.is_admin? %>
                <td>
                  <% if merchant.owner == nil %>
                    <%= " " %>
                  <% else %>
                    <%- owner = merchant.owner %>
                    <%- name = [owner.first_name, owner.last_name].join(" ") %>
                    <%= name %>
                  <% end %>
                </td>
              <% end %>
              <td>
                <%= link_to t('.edit', :default => "Edit Merchant"),
                          edit_merchant_path(merchant), :class => 'btn btn-mini' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          merchant_path(merchant),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => ' Are you sure?')) },
                            :class => 'btn btn-mini btn-danger' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Create a new Merchant",
              new_merchant_path %>
  <% else %>
    <%= notice %>
    <br>
    <% if @current_user.is_merchant %>
      <h3>
        <%= "Hmm, seems like you don't have any businesses you're operating." %>
      </h3>
        <%= link_to "Register a new business", new_merchant_path %>
    <% else %>
      <h3>
        <%= "Seems like you're not a business owner. You can create a new merchant account to manage your businesses by logging out and creating a new account." %>
      </h3>
    <% end %>
  <% end %>
</div>