<!DOCTYPE html>
<html>
<head>
  <title>TrackHunter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link href='http://fonts.googleapis.com/css?family=Medula+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

</head>
<body>


	<div class="container">   
	 	<div class="row">
		    <div class="span12"><%= yield %></div>
		  </div>
		</div>  
	 </div> 
	   

	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <div class="nav-collapse">
	        <ul class="nav">
	        	<li><h3><%= link_to "TrackHunter", root_path %></h3></li>
	          <li><%= link_to "Merchants", merchants_path %></li>
	          <li><%= link_to "Ratings", ratings_path %></li>
	          <li>
	          	<% if @current_user != nil %>
	          		<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
	          	<% else %>
	          		<%= link_to "Login", new_user_session_path %>
	          	<% end %>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>


	   
	</body>  
   </html>

