<p id="notice"><%= notice %></p>
<div class = "center_block" id = "form_holder">
<%= form_tag do |f| %>
	<label>Please enter your username</label>
	<%= text_field_tag 'username' %>
	<br>
	<%= submit_tag 'Login', :class => "box-button", :id => "form-button" %>
<% end %>
<p></p>
	<div id = "link_holder">
		<%= link_to "Create Account", new_user_path %>
		<%= link_to "Rate a Song", new_rating_path %>
	</div>  
</div>



